#comp11 {
  max-width: 1920px;
  width: 100%;
  height: 1264px;
  position: relative;
  bottom: 300px;
}

#comp11 .color-1 {
  color: #2C3E50;
}

#comp11 .color-2 {
  color: #2C3E50;
}

#comp11 .color-3 {
  color: #2C3E50;
}

#comp11 .img11 {
  background-image: url(../../../imagesFolder/keyboard&mouse3.png);
  width: 544px;
  height: 542px;
  background-repeat: no-repeat;
  margin-left: 376px;
  margin-top: 98px;
}

#comp11 .p63 {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  margin-left: 418px;
  position: relative;
  bottom: 526px;
}

#comp11 .img12,
#comp11 .img13,
#comp11 .img14,
#comp11 .img15 {
  background-image: url(../../../imagesFolder/Icon.png);
  width: 35px;
  height: 40px;
  background-repeat: no-repeat;
  margin-left: 975px;
  position: relative;
  bottom: 520px;
}

#comp11 .p64,
#comp11 .p66 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-left: 250px;
  position: relative;
  bottom: 570px;
}

#comp11 .p65,
#comp11 .p67,
#comp11 .p69,
#comp11 .p71 {
  width: 260px;
  text-align: start;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #A1B1BC;
  line-height: 24px;
  margin-left: 975px;
  position: relative;
  bottom: 570px;
}

#comp11 .view-detail {
  font-size: 15px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-left: 975px;
  position: relative;
  bottom: 578px;
  color: #1ABC9C;
}

#comp11 .container7 {
  position: relative;
  bottom: 25px;
}

#comp11 .p68 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-left: 610px;
  position: relative;
  bottom: 570px;
}

#comp11 .container8 {
  margin-left: 300px;
  position: relative;
  bottom: 435px;
}

#comp11 .p70 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #2C3E50;
  margin-left: 558px;
  position: relative;
  bottom: 570px;
}

#comp11 .container9 {
  margin-left: 300px;
  position: relative;
  bottom: 462px;
  margin-left: 300px;
  bottom: 462px;
}

#comp11 .amazing-theme-options {
  font-size: 36px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #2C3E50;
  margin-left: 374px;
  position: relative;
  bottom: 926px;
}

#comp11 .font-18px {
  font-size: 18px;
}

#comp11 .font-18px {
  font-size: 18px;
}

#comp11 .font-18px {
  font-size: 18px;
}

#comp11 .font-18px {
  font-size: 18px;
}

#comp11 .p72 {
  text-align: center;
  color: #2C3E50;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-right: 949px;
  position: relative;
  bottom: 970px;
}

#comp11 .p73,
#comp11 .p75,
#comp11 .p77,
#comp11 .p79 {
  width: 260px;
  text-align: start;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #A1B1BC;
  line-height: 24px;
  margin-left: 375px;
  position: relative;
  bottom: 970px;
}

#comp11 .view-detail2 {
  text-align: start;
  font-size: 15px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-left: 975px;
  position: relative;
  bottom: 978px;
  margin-left: 375px;
  color: #1ABC9C;
}

#comp11 .img16 {
  background-image: url(../../../imagesFolder/Icon.png);
  width: 35px;
  height: 40px;
  margin-left: 375px;
  position: relative;
  bottom: 920px;
}

#comp11 .container11 {
  position: relative;
  bottom: 25px;
}

#comp11 .p74 {
  text-align: center;
  color: #2C3E50;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-right: 942px;
  position: relative;
  bottom: 970px;
}

#comp11 .p76 {
  text-align: center;
  color: #2C3E50;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-right: 572px;
  position: relative;
  bottom: 970px;
}

#comp11 .container12 {
  margin-left: 300px;
  position: relative;
  bottom: 436px;
}

#comp11 .p78 {
  text-align: center;
  color: #2C3E50;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-right: 570px;
  position: relative;
  bottom: 970px;
}

#comp11 .container13 {
  margin-left: 300px;
  position: relative;
  bottom: 462px;
}

#comp11 .img17 {
  background-image: url(../../../imagesFolder/Mockup.png);
  width: 558px;
  height: 441px;
  position: relative;
  bottom: 1870px;
  margin-left: 992px;
}
/*# sourceMappingURL=index.css.map */