$text-color1:#2C3E50;
$text-color2:#A1B1BC;

$container-border-color:#E2E6E7;

$circle1-color:#FFC12D;
$circle1-border:#C89210;

$circle2-color:#A7EC2F;
$circle2-border:#7BC200;

$circle3-color:#FEB1A4;
$circle3-border:#F55C43;

$circle4-color:#85EBFA;
$circle4-border:#47B4F6;

$circle5-color:#AACDF6;
$circle5-border:#8781BD;