$color-white:#FFFFFF !default;
$color-white:#FFFFFF;
$color-white-2:#E8E8E8;
$color-red:red;

$color-green:#1ABC9C;
$color-green-2:#26E2BD;

$color-white-gray:#DDDDDD;
$colordarkwhite:#E5E5E5;
$colordarkwhite2:#707070;


$color-dark:#000000;

$color-light-blue:#2C3E50;

$colordarks-white:#A1B1BC;

$comp-3-dots-color:#DBE7EF;

$comp-5-background-color: #222533;

$comp-5-p16-color:#4E4E4E;

$comp-5-div-15-border-color:#21C2F8;

$comp-5-div-16-child-color:#2C3E50;

$comp-5-div-17-child-background-color:#ECF0F1;

$comp6-serviceitem-border-color:#ECF0F1;

$services-card-3-bgcolor:#F8FBFA;

$comp8-profile-border-color:#E6EBED;

$grid-container-color:#EAEBEC;

$grid-container-3-color:#34495E;

$each-color-1:#686D80;
$each-bg-color1:#F6F6F6;

$q-color:#EF584D;
$r-color:#7BC200;

$comp10-btn7-box-shadows-color:#16A085;

$comp-12-picture-bgcolor:#CCCCCC;

$comp15-bgcolor:#1A1C27;