#comp5 {
  max-width: 1920px;
  width: 100%;
  height: 700px;
  background-color: #222533;
  position: relative;
  bottom: 70px;
}

.p14 {
  font-size: 36px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  margin-left: 834px;
  position: relative;
  top: 82px;
}

.p15 {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  width: 630.7px;
  height: 141.24px;
  color: #FFFFFF;
  position: relative;
  text-align: center;
  line-height: 24px;
  top: 58px;
  left: 643px;
}

.div14 {
  border: 6px solid #1ABC9C;
  width: 188px;
  height: 188px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 6px;
  left: 408px;
}

.div15-child {
  width: 102px;
  height: 102px;
  background-color: #ECF0F1;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 45px;
  left: 43px;
}

.five-comp-p1 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  position: relative;
  color: #FFFFFF;
}

.five-comp-p2 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  position: relative;
  color: #FFFFFF;
}

.five-comp-p3 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  position: relative;
  color: #FFFFFF;
}

.five-comp-p4 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  position: relative;
  color: #FFFFFF;
}

.five-comp-loremtext-1 {
  text-align: center;
  width: 260.32px;
  height: 200.57px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  position: relative;
  color: #FFFFFF;
}

.five-comp-loremtext-2 {
  text-align: center;
  width: 260.32px;
  height: 200.57px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  position: relative;
  color: #FFFFFF;
}

.five-comp-loremtext-3 {
  text-align: center;
  width: 260.32px;
  height: 200.57px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  position: relative;
  color: #FFFFFF;
}

.five-comp-loremtext-4 {
  text-align: center;
  width: 260.32px;
  height: 200.57px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  position: relative;
  color: #FFFFFF;
}

.procent-4 {
  color: #4E4E4E;
  font-size: 18px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  position: relative;
  text-align: center;
}

.procent-3 {
  color: #4E4E4E;
  font-size: 18px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  position: relative;
  text-align: center;
}

.procent-2 {
  color: #4E4E4E;
  font-size: 18px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  position: relative;
  text-align: center;
}

.procent-1 {
  color: #4E4E4E;
  font-size: 18px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  position: relative;
  text-align: center;
}

.p16 {
  top: 21px;
  left: 2px;
}

.p17 {
  top: 102px;
  left: 50px;
}

.p18 {
  line-height: 24px;
  top: 98px;
  right: 35px;
}

.div15 {
  border: 6px solid #21C2F8;
  width: 188px;
  height: 188px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 7px;
  left: 505px;
}

.div16-child {
  width: 102px;
  height: 102px;
  background-color: #2C3E50;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 45px;
  left: 44px;
}

.p19 {
  color: #FFFFFF;
  top: 21px;
}

.p20 {
  top: 102px;
  left: 50px;
}

.p21 {
  line-height: 24px;
  top: 98px;
  right: 36px;
}

.div16 {
  border: 6px solid #1ABC9C;
  width: 188px;
  height: 188px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 7px;
  left: 600px;
}

.div17-child {
  width: 102px;
  height: 102px;
  background-color: #ECF0F1;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 45px;
  left: 43px;
}

.p22 {
  top: 21px;
  left: 2px;
}

.p23 {
  top: 102px;
  left: 42px;
}

.p24 {
  line-height: 24px;
  top: 98px;
  right: 34px;
}

.div17 {
  border: 6px solid #1ABC9C;
  width: 188px;
  height: 188px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 7px;
  left: 697px;
}

.div18-child {
  width: 102px;
  height: 102px;
  background-color: #ECF0F1;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 45px;
  left: 43px;
}

.p25 {
  top: 21px;
}

.p26 {
  top: 102px;
  left: 53px;
}

.p27 {
  line-height: 24px;
  top: 98px;
  right: 36px;
}
/*# sourceMappingURL=index.css.map */