.comp6 {
  max-width: 1920px;
  width: 100%;
  height: 540px;
  padding-top: 103px;
  position: relative;
  bottom: 113px;
}

.comp6 .header p:first-child {
  font-size: 36px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  line-height: 20px;
  text-align: center;
  color: #2C3E50;
  margin-left: 15px;
  line-height: 20px;
}

.comp6 .header p:last-child {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  text-align: center;
  margin-top: 24px;
  color: #A1B1BC;
  margin-left: 15px;
  position: relative;
  bottom: 12px;
}

.comp6 .services-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  margin-top: 45px;
}

.comp6 .services-cards .service-item {
  border: 1px solid #ECF0F1;
  height: 100%;
  width: 25%;
}

.comp6 .services-cards .services-img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 34px;
  margin-left: 5px;
}

.comp6 .services-img2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 34px;
  margin-left: 14px;
}

.comp6 .services-img3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 34px;
  margin-left: 20px;
}

.comp6 .services-img4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 34px;
  margin-left: 27px;
}

.comp6 .services-card-1 p:not(:last-child) {
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  margin-top: 43px;
  text-align: center;
  color: #2C3E50;
  margin-left: 1px;
}

.comp6 .services-card-1 p:last-child {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  color: #A1B1BC;
  text-align: center;
  position: relative;
  bottom: 4px;
  margin-left: 4px;
}

.comp6 .services-card-2 p:not(:last-child) {
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  margin-top: 20px;
  text-align: center;
  margin-top: 40px;
  margin-left: 10px;
  color: #2C3E50;
}

.comp6 .services-card-2 p:last-child {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  color: #A1B1BC;
  text-align: center;
  position: relative;
  bottom: 5px;
  margin-left: 10px;
}

.comp6 .services-card-2 img {
  margin-top: -2px;
}

.comp6 .services-card-3 {
  background-color: #F8FBFA;
}

.comp6 .services-card-3 p:not(:last-child) {
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  margin-top: 20px;
  text-align: center;
  margin-top: 45px;
  margin-left: 21px;
  color: #2C3E50;
}

.comp6 .services-card-3 p:last-child {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  color: #A1B1BC;
  text-align: center;
  position: relative;
  bottom: 5px;
  left: 10px;
}

.comp6 .services-card-4 p:not(:last-child) {
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  text-align: center;
  margin-top: 45px;
  margin-left: 25px;
  color: #2C3E50;
}

.comp6 .services-card-4 p:last-child {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  color: #A1B1BC;
  text-align: center;
  margin-left: 29px;
  position: relative;
  bottom: 6px;
}
/*# sourceMappingURL=index.css.map */