$text-color1:#2C3E50;
$text-color2:#A1B1BC;

$container-border-color:#E2E6E7;

$circle1-color:#FFC12D;
$circle1-border:#F9B718;

$circle2-color:#97E411;
$circle2-border:#7BC200;

$circle3-color:#FD7761;
$circle3-border:#F55C43;

$circle4-color:#6FD9FC;
$circle4-border:#47B4F6;

$circle5-color:#A39CDC;
$circle5-border:#8781BD;