@mixin all-h1-tags {
    font-weight: 300;
    font-size: 30px;
    font-family: 'Lato';
}

@mixin all-p1-tag {
    color: #2C3E50;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.3px;
}

@mixin all-p2-tag {
    width: 357.05px;
    height: 73.14px;
    color: #A1B1BC;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

@mixin all-conts {
    width: 570px;
    height: 150px;
    border-radius: 10px;
}

@mixin five-conts {
    width: 1170px;
    height: 150px;
    border-radius: 10px;
}

@mixin all-circles-components {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}